In [1]:
import pandas as pd

In [2]:
common_name = pd.read_csv("common_cities.csv")

In [3]:
common_name

    same_name_cities
0           Alcobaça
1           Almeirim
2           Amarante
3             Anadia
4             Aveiro
5           Barcelos
6              Borba
7              Braga
8           Bragança
9         Cantanhede
10            Chaves
11           Coimbra
12              Faro
13            Fátima
14            Fundão
15           Gouveia
16         Guimarães
17             Lagoa
18             Lagoa
19             Ourém
20            Pombal
21        Portalegre
22             Porto
23            Queluz
24         Rio Tinto
25        Santa Cruz
26           Santana
27          Santarém
28  São Pedro do Sul
29            Silves
30           Valença
31             Viseu